# Blender backup files
*.blend1

# ParrelSync Folders
NutriXR_clone_*/

**/.DS_Store
*.kra

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Rider cache directory
.idea/

# VS Code cache directory
.vscode/